.carrousel {
    margin-top: 4rem;
    background-image: url('../../../public/pale-textile-template.jpg');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}



/* Cambiar el color de la barrita activa */
.p-carousel-indicators .p-carousel-indicator.p-highlight.p-link{
    background-color: black !important; /* Color para la barrita activa */
}

.p-highlight .p-link {
    background-color: black;
}
