.carrousel {
    margin-top: 4rem;
    background-color: #0E2359;
    color: white;
}

/* Cambiar el color de la barrita activa */
.p-carousel-indicators .p-carousel-indicator.p-highlight.p-link{
    background-color: white !important; /* Color para la barrita activa */
}

.p-highlight .p-link {
    background-color: black;
}

.p-carousel-indicators {
    display: none;
}

.p-carousel-item {
    margin-bottom: 3rem;
}

.desliza {
    font-size: 10px;
    color: #e8ff2c;
}